extends layout

block content
	h1= title
	div.jumbotron
		input(placeholder="nombre", type="text")
		input(placeholder="apellido", type="text")
		input(placeholder="correo", type="text")
		input(placeholder="mensaje", type="text")
		a(class="btn btn-large btn-success", href="") Enviar
		