extends layout

block content
	h1= title
	div.jumbotron
		p.imglg: img(src="/img/1.jpg", alt="tecnologia")
		p.lead
			|  En 1957 Karl Steinbuch acu&ntilde;&oacute; la palabra alemana Informatik en la publicaci&oacute;n de un documento denominado Informatik: Automatische Informationsverarbeitung (Inform&aacute;tica: procesamiento autom&aacute;tico de informaci&oacute;n). 
			|  En ruso, Alexander Ivanovich Mikhailov fue el primero en utilizar informatika con el significado de (estudio, organizaci&oacute;n, y la diseminaci&oacute;n de la informaci&oacute;n cient&iacute;fica), que sigue siendo su significado en dicha lengua. 
			|  En ingl&eacute;s, la palabra Informatics fue acu&ntilde;ada independiente y casi simult&aacute;neamente por Walter F. Bauer, en 1962, cuando Bauer cofund&oacute; la empresa denominada (Informatics General, Inc.). Dicha empresa registr&oacute; el nombre y persigui&oacute; a las universidades que lo utilizaron, forz&aacute;ndolas a utilizar la alternativa computer science.
			|  La Association for Computing Machinery, la mayor organizaci&oacute;n de inform&aacute;ticos del mundo, se dirigi&oacute; a Informatics General Inc. para poder utilizar la palabra informatics en lugar de computer machinery, pero la empresa se neg&oacute;. Informatics General Inc. ces&oacute; sus actividades en 1985, pero para esa &eacute;poca el nombre de computer science estaba plenamente arraigado.
			|  Actualmente los angloparlantes utilizan el t&eacute;rmino computer science, traducido a veces como (Ciencias de la computaci&oacute;n), para designar tanto el estudio cient&iacute;fico como el aplicado; mientras que designan como information technology ( o data processing, traducido a veces como (tecnolog&iacute;as de la informaci&oacute;n), al conjunto de tecnolog&iacute;as que permiten el tratamiento automatizado de informaci&oacute;n.
		