extends layout

block content
	h1= title
	div.jumbotron
		p.lead
			| Conceptualmente, se puede entender como aquella disciplina encargada del estudio de m&eacute;todos, procesos, t&eacute;cnicas, desarrollos y su utilizaci&oacute;n en ordenadores (computadoras), con el fin de almacenar, procesar y transmitir informaci&oacute;n y datos en formato digital.
		p.imglg: img(src="/img/istock_000000792317small3.jpg", alt="tecnologia")
