extends layout

block content
	h1= title
	div.jumbotron
		p.imglg: img(src="/img/3.jpg", alt="tecnologia")
		p.lead
			|  Los sistemas computacionales, generalmente implementados como dispositivos electr&oacute;nicos, permiten el procesamiento autom&aacute;tico de la informaci&oacute;n. Conforme a ello, los sistemas inform&aacute;ticos deben realizar las siguientes tres tareas b&aacute;sicas(Entrada, Proceso, Salida.)
			|  Sistemas de mando y control, son sistemas basados en la mec&aacute;nica y motricidad de dispositivos que permiten al usuario localizar, dentro de la log&iacute;stica, los elementos que se demandan. Est&aacute;n basados en la electricidad, o sea, no en el control del flujo del electr&oacute;n, sino en la continuidad o discontinuidad de una corriente el&eacute;ctrica, si es alterna o continua o si es inducida, contrainducida, en fase o desfase (ver perif&eacute;rico de entrada).
			|  Sistemas de archivo, son sistemas que permiten el almacenamiento a largo plazo de informaci&oacute;n que no se demandar&aacute; por un largo periodo de tiempo. Estos sistemas usan los conceptos de biblioteca para localizar la informaci&oacute;n demandada.