extends layout

block content
	h1= title
	div.jumbotron
		p.imglg: img(src="/img/2.jpg", alt="tecnologia")
		p.lead
			|  En los inicios del procesado de informaci&oacute;n, con la inform&aacute;tica s&oacute;lo se facilitaban los trabajos repetitivos y mon&oacute;tonos del &aacute;rea administrativa. La automatizaci&oacute;n de esos procesos trajo como consecuencia directa una disminuci&oacute;n de los costos y un incremento en la productividad. 
			|  En la inform&aacute;tica convergen los fundamentos de las ciencias de la computaci&oacute;n, la programaci&oacute;n y metodolog&iacute;as para el desarrollo de software, la arquitectura de computadores, las redes de computadores, la inteligencia artificial y ciertas cuestiones relacionadas con la electr&oacute;nica. Se puede entender por inform&aacute;tica a la uni&oacute;n sin&eacute;rgica de todo este conjunto de disciplinas.
			|  Esta disciplina se aplica a numerosas y variadas &aacute;reas del conocimiento o la actividad humana, como por ejemplo: gesti&oacute;n de negocios, almacenamiento y consulta de informaci&oacute;n, monitorizaci&oacute;n y control de procesos, industria, rob&oacute;tica, comunicaciones, control de transportes, investigaci&oacute;n, desarrollo de juegos, dise&ntilde;o computarizado, aplicaciones / herramientas multimedia, medicina, biolog&iacute;a, f&iacute;sica, qu&iacute;mica, meteorolog&aacute;a, ingenier&iacute;a, arte, etc. Puede tanto facilitar la toma de decisiones a nivel gerencial (en una empresa) como permitir el control de procesos críticos. Actualmente es dif&iacute;cil concebir un &aacute;rea que no use, de alguna forma, el apoyo de la inform&aacute;tica. 