div.masthead
	h3.muted Proyecto Sitio Web de Tecnologia Informatica
	div.navbar
		div.navbar-inner
			div.container
				ul.nav
					li: a(href='/index') Inicio
					li: a(href='/historia') Historia
					li: a(href='/origenes') Origenes
					li: a(href='/manejoinfo') Manejo de Informacion
					li: a(href='/contacto') Contacto